.favorites-page {
  overflow-x: hidden;
  min-height: 100vh;
  width: 100%;
  position: absolute;
  background-image: url("../../../../public/images/weather-wallpaper.png");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  .title {
    position: relative;
    text-align: center;
    transform: translateY(85px);
    height: 0;
  }
  .no-favorites {
    position: relative;
    height: 0;
    text-align: center;
    transform: translateY(170px);
  }
}
